body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

#colorDisplay {
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #333333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}